body {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.navigation {
  background-color: #dfe5d4;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.search-bar-form {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.search-bar {
  /* justify-content: center; */
  height: 60%;
  margin: auto;
  width: 50%;
}

.search-suggestions {
  position: absolute;
  top: 5%;
  width: 50%;
  background-color: #dfe5d4;
}



.main {
  display: flex;
  flex-grow: 50;
  flex-direction: row;
  align-items: stretch;
}

.left-panel {
  flex-grow: 1;
  background-color: #ecefe6;
}

.channel-active {
  background-color: #dfe5d4;
}

.chat {
  flex-grow: 19;
  display: flex;
  flex-direction: column;
  background-color: #f2f4ef;
}

.chat-text-field {
  flex-grow:1;
}

.chat-messages {
  flex-grow: 50;
}